@font-face {
  font-family: "HurmeGeometricSans4W00-Bold";
  src: url("Hurme Geometric Sans 1 W03 Bold.ttf") format("truetype");
}

.container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'HurmeGeometricSans4W00-Bold', 'Roboto', Arial, sans-serif;
  grid: repeat(10, 1fr)/repeat(10, 1fr);
  color: #fff;
  background-color: black;
  width: 100vw;
}

.button {
  width: 90%;
  height: 80%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  vertical-align: middle;
  border-radius: 1vh;
  font-size: 4vh;
}

.button:hover {
  cursor: pointer;
}

.button.toggled {
  background-color: #fff;
  color: #000;
}

.diagonal {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.diagonal:before {
  content: "";
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 40vh;
  height: 30vh;
  background: linear-gradient(344deg, yellow 8%, #ffc400 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  width: 100vw;
  -webkit-animation: 1s ease 0s infinite alternate gameWonFront;
          animation: 1s ease 0s infinite alternate gameWonFront;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}

.diagonal .content {
  overflow: hidden;
  max-width: 50em;
  margin: 0 auto;
  text-align: center;
  font-size: 10rem;
  padding-top: 40vh;
  color: inherit;
  -webkit-animation: 1s cubic-bezier(0.37, 0.35, 0.05, 0.91) 0s infinite alternate gameWonTextLong;
          animation: 1s cubic-bezier(0.37, 0.35, 0.05, 0.91) 0s infinite alternate gameWonTextLong;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
}

.diagonal .content.short {
  font-size: 20vw;
  padding-top: 28vh;
  -webkit-animation: 1s cubic-bezier(0.37, 0.35, 0.05, 0.91) 0s infinite alternate gameWonText;
          animation: 1s cubic-bezier(0.37, 0.35, 0.05, 0.91) 0s infinite alternate gameWonText;
}

.diagonal .content::first-letter {
  text-transform: capitalize;
}

.animations {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  -webkit-animation: 1s ease-in 0s infinite alternate gameWonBack;
          animation: 1s ease-in 0s infinite alternate gameWonBack;
}

@-webkit-keyframes gameWonFront {
  0% {
    height: 0vh;
    top: 55vh;
  }
  70% {
    height: 3vh;
    top: 53vh;
  }
  100% {
    height: 30vh;
    top: 40vh;
  }
}

@keyframes gameWonFront {
  0% {
    height: 0vh;
    top: 55vh;
  }
  70% {
    height: 3vh;
    top: 53vh;
  }
  100% {
    height: 30vh;
    top: 40vh;
  }
}

@-webkit-keyframes gameWonBack {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@keyframes gameWonBack {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes gameWonText {
  0% {
    padding-top: 40vh;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    padding-top: 28vh;
    opacity: 1;
  }
}

@keyframes gameWonText {
  0% {
    padding-top: 40vh;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    padding-top: 28vh;
    opacity: 1;
  }
}

@-webkit-keyframes gameWonTextLong {
  0% {
    padding-top: 50vh;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    padding-top: 40vh;
    opacity: 1;
  }
}

@keyframes gameWonTextLong {
  0% {
    padding-top: 50vh;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    padding-top: 40vh;
    opacity: 1;
  }
}

.stop-anim {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.off {
  display: none !important;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'HurmeGeometricSans4W00-Bold', 'Roboto', Arial, sans-serif;
  font-size: 2.2rem;
}

.control {
  z-index: 10000;
  position: fixed;
  opacity: 0.1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.control:hover {
  opacity: 0.9;
}

.control button {
  background-color: #222;
  border: none;
  color: #fff;
}

.light .container {
  background-color: #fff;
  color: #000;
}

.light .toggled {
  background: #000;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */